<div class="menu_base">
  <div class="checkBoxes">
    <span *ngFor="let item of menuItem">
        <input type="checkbox" [(ngModel)]="item.isChecked" (change)="onChangeRadioButton(item)" /> 
        {{item.name}} <br>
    </span>
    <div *ngIf="rangePlayer && showPlayerList">Numero da selezionare: {{rangePlayer}}</div>
</div>
  <div class="players_container" *ngIf="showPlayerList">
    <ol>
      <li *ngFor="let gridPlayer of gridPlayers">
        <input (change)="onChange(gridPlayer)" [(ngModel)]="gridPlayer.isChecked" type="checkbox" />
        {{gridPlayer.player.name}}
      </li>
    </ol>
  </div>
</div>
