<!--The content below is only a placeholder and can be replaced.-->
<app-battle-field-view (firstPlayerOutput)="setWinner($event)" (closeView)="closeView($event)" (sedondPlayerOutPut)="setWinner($event)" [firstPlayer]="firstPlayer" [secondPlayer]="secondPlayer" [matchingPlayer]="matchingPlayer" *ngIf="matchingPlayer && !transiction"></app-battle-field-view>
<app-transiction-view *ngIf="transiction && !matchingPlayer" [transiction]="transiction" [text]="textTransiction"></app-transiction-view>
<app-single-battle-field-view [firstPlayer]="winnerPlayer" [isFinal]="isFinal" [singlePlayerMatch]="singlePlayerMatch" *ngIf="singlePlayerMatch"></app-single-battle-field-view>
<div class="container_wrapper" *ngIf="!matchingPlayer && !transiction && !singlePlayerMatch">
    <div class="wrapper">
        <div class="box" *ngFor="let player of players"  [style.border-radius]="player.border" [style.background-image]="'url(' + player.image + ')'" [style.background-repeat]="player.repeat"
        [style.background-size]="player.size"
        [style.border]="player.bord" [style.box-shadow]="player.boxShadow"><div *ngIf="player.secImg" [style.background-size]="player.size" [style.background-image]="'url(' + player.secImg + ')'" [style.background-repeat]="player.repeat" class="secondImg"></div></div>
    </div>
    <div class="bottoni">
        <button [disabled]="!isAble" [style.background]=" !isAble ? 'rgb(202, 60, 60)' : 'rgb(28, 184, 65)'" *ngIf="!matchingPlayer" class="duel-button" (click)="clickButton()">Avvia Duello</button>
        <button [disabled]="!isAble || !isAbleChange" [style.background]=" !isAble || !isAbleChange ? 'rgb(202, 60, 60)' : 'rgb(28, 184, 65)'" *ngIf="!matchingPlayer" class="duel-button" (click)="changeLastBattle()">Annulla Sfida</button>
    </div>
</div>
<app-menu *ngIf="showMenu" [players]="players" ></app-menu>


